<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ambar ERP</title>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" type="image/png" href="img/favicon.png"/>
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <script src="js/login.js"></script>
    <script src="js/particles.js"></script>
    <style type="text/css">
        html, body {
        width:100%; height:100%;
        overflow: hidden;
        background: transparent !important;
        margin:0; padding:0;
        }

        #playArea {
        background: #0071BC; 
        position:fixed;
        }
    </style>
</head>